astropy==7.0.1+computecanada
astropy-iers-data==0.2025.7.28.0.41.50
asttokens==3.0.0+computecanada
bidict==0.23.1+computecanada
comm==0.2.3+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.15+computecanada
decorator==5.2.1+computecanada
executing==2.2.0+computecanada
filelock==3.18.0+computecanada
fonttools==4.59.0+computecanada
fsspec==2025.7.0+computecanada
h5py==3.13.0+computecanada
ipykernel==6.30.0+computecanada
ipython==9.4.0+computecanada
ipython_pygments_lexers==1.1.1+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.8.1+computecanada
kiwisolver==1.4.8+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.1+computecanada
matplotlib_inline==0.1.7+computecanada
mpmath==1.3.0+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.5+computecanada
numpy==1.26.4+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
platformdirs==4.3.8+computecanada
prompt_toolkit==3.0.51+computecanada
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
PyAstronomy==0.23.0
pyerfa==2.0.1.5+computecanada
pygments==2.19.2+computecanada
pyparsing==3.2.3+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
quantities==0.16.2
scipy==1.15.2+computecanada
score-models==0.5.11
six==1.17.0+computecanada
stack_data==0.6.3+computecanada
sympy==1.14.0+computecanada
torch==2.7.1+computecanada
torch_ema==0.3+computecanada
tornado==6.5.1+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.14.1+computecanada
tzdata==2025.2+computecanada
wcwidth==0.2.13+computecanada
